<!DOCTYPE html>
<html lang="en" data-theme="cupcake">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lego Collection</title>
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="shortcut icon" href="../img/lego.png" type="image/x-icon">
</head>

<body tabindex="-1">
    <%- include('partials/navbar', {page: '' }) %>
        <div class="container mx-auto p-4">
            <div class="hero bg-base-200 rounded-lg p-6">
                <div class="hero-content text-center ">
                    <div class="max-w-md">
                        <h1 class="text-5xl font-bold">
                            <%=set.name %>
                        </h1>

                        <p class="py-6">Below, you will find detailed information about the set: <%= set.name %>
                        </p>

                    </div>
                </div>
            </div>
            <br>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div>
                    <img class="w-full rounded-lg" src="<%= set.img_url %>" alt=" Set Image">
                </div>
                <div class="prose">

                    <p>
                        <span class="font-bold">Set Name: </span>
                        <%= set.name %> <br>
                            <span class="font-bold">Year Released:
                            </span>
                            <%= set.year %>
                                <br>
                                <span class="font-bold">Theme: </span>
                                <%= set.Theme.name %> <br>
                                    <span class="font-bold">Number of Parts: </span>
                                    <%= set.num_parts %>
                                        <br>
                                        <br>
                                        <div class="quote">
                                            <p id="thequote"></p>
                                            <p id="author-quote"></p>
                                        </div>
                                        <a class="btn btn-primary btn-sm" href="/lego/editSet/<%= set.set_num %>" return
                                            false;">Edit Lego</a>
                                        <a class="btn btn-primary btn-sm" href="#"
                                            onclick="history.back(); return false;">RETURN</a>
                                        <a class="btn btn-warning btn-sm" href="/lego/deleteSet/<%= 
                                        set.set_num %>" return false;">Delete Lego Data</a>
                </div>
                <br><br>
                </p>
            </div>
        </div>
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", () => {
                fetch("https://quotable.io/random")
                    .then(response => response.json())
                    .then(data => {
                        const quoteContent = data.content;
                        const quoteAuthor = data.author;
                        document.getElementById("thequote").textContent = quoteContent;
                        document.getElementById("author-quote").textContent = `— ${quoteAuthor}`;
                    })
                    .catch(error => {
                        console.error("Couldn't fetch a random quote:", error);
                    });
            });
        </script>
</body>

</html>